:root{
    --backgroundCyanFirst:rgb(7, 248, 248);
    --backgroundCyanSecond:rgb(4, 224, 224);
    --backgroundCyanThird:rgb(3, 165, 165);
    --backgroundCyanFourth:rgb(2, 128, 128);
    --backgroundCyanFifth:rgb(1, 99, 99);
    --backgroundWhiteFirst:rgb(255, 255, 255);
    --backgroundWhiteSecond:rgb(228, 228, 228);
    --backgroundWhiteThird:rgb(210, 212, 212);
    --textColorGreyDark:#333;
    --textColorGreyNormal:#444;
}

body {
    background-color: var(--backgroundWhiteSecond);
    /* color: #333333; */
  }
/*   
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  */
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  /* ================ author */
  .article-author{
    text-decoration: none;
    color:var(--backgroundCyanFifth);
    font-size:large;
    border-bottom:transparent solid 2px;
  }
  .article-author:hover{
    color:var(--backgroundCyanFirst);
    border-bottom:var(--textColorGreyDark) solid 2px;
  }
  /* ==============author */
  .article-title {
    color: var(--textColorGreyDark);
    text-decoration: none;
  }
  
  .article-title:hover {
    color: var(--textColorGreyNormal);
    /* color: #428bca; */
  }
/* ================title */
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  } 