{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Django-{{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog/main.css' %}">
    
</head>
<body class="">
        <nav class="navbar navbar-expand-md navbar-dark bg-info">
            <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                  <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                  <a href="{% url 'profile' %}" class="mx-2 btn btn-dark btn-sm">Profile</a>
                  <a href="{% url 'logout' %}" class="mx-2 btn btn-dark btn-sm">Logout</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="mx-2 btn btn-dark btn-sm">Login</a>
                  <a href="{% url 'register' %}" class="mx-2 btn btn-dark btn-sm">Register</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
          
          <div class="flex container mt-4">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
              {% endfor %}
            {% endif %}
            <div class="col-md-9">
              {% block contents %}
              {% endblock contents %}
            </div>
            <div class="col-md-3">
              {% block miscellenous %}
              {% endblock miscellenous %}
            </div>

          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>